html{
  padding-left: 6%;
  padding-right: 6%;
  min-height: 150%;
}
.movielist{
  display: flex;
 
}
:root{
  background-color:rgb(7, 68, 22);
}
.movie{
  color: blue;
  font-size:18px;
  margin: 0 10px;
  padding-top: 60px;
}
.App-header{
  background-color: rgb(128, 128, 128);
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px);
  color:white;
}
.card-img-top{
  width :270px;
  height: 270px;
}
.head{
  text-align: center;
  color: rgb(245, 245, 245);
}
.search_movies{
  display: flex;
  justify-content: flex-start;
  padding-right: 20px;
}

.search{
  border-radius: 10px;
  font-size: 20px;
  background-color: transparent;
  border: 2px solid grey;
  color: #fff;
  padding-left: 10px;
}
.search::placeholder{
  color: #a09898;
}
.add_Movies{
  font-size: 39px;
  padding-left: 15px;

}
@media(max-width:700px){
  .head{
    text-align: center;
    color: whitesmoke;
    padding-top: 30px;
  }
  .search{
    margin: 10px 60px ;
    font-size: 19px;
  }
  .movie{
    color: black;
    font-size: 18px;
    padding-top: 41px;
  }
  .movielist{
    display: block;
  }
  .card-img-top{
    padding-left: 28px;
  }
  .card-body{
    padding-left: 45%;
  }

}